* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    caret-color: transparent;
}
body {
    background-color: #000000;
    margin: 0;
    padding: 8px;
}
.information {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.information h1 { 
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    align-items: center;
}
#overloading  {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    color: rgb(0, 0, 0);
    align-items: center;
}
.container {
    width: 100%;
    min-height: 89.8vh;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
#right{
    min-width: 500px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #ffffff;
    display: flex;
    flex-wrap: wrap;
}
#left{
    min-width: 300px;
    max-width: 600px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #ffffff;
}
.list{
    background-color:#eef; 
    color:#000000; 
    border-style:solid;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    height: fit-content;
    display: flex;
    align-items: center;
    cursor: grab;
    flex-wrap: wrap;
}
.list img {
    width: 10px;
    margin-right: 15px;
    margin-left: 20px;
}
#overloading {
    display: none;
}